*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: rgb(255, 208, 0) ;
    padding: 10px;
    color: azure;
    text-align: center;
}
nav{
    background-color: rgba(55, 152, 237, 0.929);
    padding: 8px;margin-top: 3px;
    display: flex;
    justify-content: center;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
}
.cards{
    display: flex;
}
.card{
    border:4px solid  red;
    margin-top: 6px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.cards img{
    width: 100px;
    height: auto;
}